.card {
	height: fit-content;
	border-radius: var(--border-radius-m);
	border: none;
}
.card img {
	border-radius: var(--border-radius-m);
}
.card__title {
	position: absolute;
	width: 100%;
	top: 6rem;
	z-index: var(--z-index-xl);
	background-color: var(--text-background-color);
}
.card__title h2 {
	text-align: center;
	color: var(--background-color);
}
.card__title h2:hover {
	color: var(--secondary-color);
}
